@keyframes showCode {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showWechat {
    0% {
        width: 0;
        height: 0;
        top: 42px;
    }
    100% {
        width: 133px;
        height: 108px;
        top: -10px;
    }
}

@keyframes drop-menu {
    0% {
        top: 50%;
        opacity: 0;
    }
    100% {
        top: 50px;
        opacity: 1;
    }
}

/* 首页地图定位点闪动 */
@keyframes jump_point {
    0% {
        top: 0;
    }
    100% {
        top: 10px;
    }
}

/* home */
@keyframes roomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    /* 80% {
        opacity: 1;
        transform: scale(1.01);
    } */
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 611px, 0);
    }
}
@keyframes fadeInDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -400px, 0);
    }
}
@keyframes scaleInBottom {
    0% {
        transform: translate3d(0, 0, 0) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate3d(78px, -46px, 0)  scale(1);
        opacity: 1;
    }
}
@keyframes scaleInTop {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate3d(-70px, 154px, 0);
    }
}
@keyframes scaleIn2 {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate3d(-60px, -125px, 0) scale(1);
    }
}
@keyframes scaleIn3 {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate3d(60px, 70px, 0) scale(1);
    }
}
@keyframes zoomInLeft {
    0% {
        transform: translate3d(-345px, -52px, 0) scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }

}
@keyframes zoomInTop {
    0% {
        transform: translate3d(0, -156px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes jump-effect {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -4px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes effect-float {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
/* 滚动至当前屏幕出现动画 */
.fadeInUp {
    /* transition-property: all; */
    opacity: 0;
    transform: translateY(-80px);
    /* transition-duration: 0.8s; */
    transition: all .8s linear;
}
.on .fadeInUp{
    opacity: 1;
    transform: translateY(0px);
}
/* 页面加载出现的动画 */

.fadeInA, .fadeInB, .fadeInC, .fadeInD {
    opacity: 0;
    transition: all .8s linear;
}
.load .fadeInA, .load .fadeInB, .load .fadeInC, .load .fadeInD {
    opacity: 1;
}
.fadeIn-point1 {
    transition: all .8s linear;
}
.fadeIn-point2 {
    transition: all .8s linear;
}
.fadeIn-point3 {
    transition: all .8s linear;
}
.load .fadeIn-point1 {
    opacity: 0.4;
}
.load .fadeIn-point2 {
    opacity: 0.3;
}
.load .fadeIn-point3 {
    opacity: 0.4;
}

.BMap_Marker {
    transition: jump_point 1s;
}













/* 动画延迟 */
.fadeDelay01 {
    transition-delay: 0.1s;
}
.fadeDelay03 {
    transition-delay: 0.3s;
}
.fadeDelay05 {
    transition-delay: 0.5s;
}
.fadeDelay07 {
    transition-delay: 0.7s;
}
.fadeDelay08 {
    transition-delay: 0.8s;
}
.fadeDelay09 {
    transition-delay: 0.9s;
}
.fadeDelay10 {
    transition-delay: 1s;
}
.fadeDelay11 {
    transition-delay: 1.1s;
}
.fadeDelay14 {
    transition-delay: 1.4s;
}
.fadeDelay15 {
    transition-delay: 1.5s;
}
.fadeDelay20 {
    transition-delay: 2s;
}
.fadeDelay21 {
    transition-delay: 2.1s;
}
.fadeDelay28 {
    transition-delay: 2.8s;
}
.fadeDelay30 {
    transition-delay: 3s;
}
.fadeDelay40 {
    transition-delay: 4s;
}
