.home-banner {
    position: relative;
    margin: 70px auto 0;
    background: url('../images/home/banner-bg.png') no-repeat center 0;
    border-radius: 20px 20px 0 0;
    text-align: center;
    width: 98%;
    height: 91.8vh;
}
.home-banner .container {
    margin-bottom: 2px;
    height: 100%;
}
.home-banner .container>img {
    position: relative;
    top: 4px;
    display: inline-block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    margin: 30px auto;
}
.home-banner-title {
    position: relative;
    top: -40px;
    text-align: center;
    font: normal normal normal 32px/42px JiangChengYuanTi400;
}
/* .home-banner img:nth-child(1) {
    z-index: 20;
    top: 153px;
    left: 329px;
    opacity: 0;
    animation: roomIn .6s 0.3s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.09);
}
.home-banner img:nth-child(2) {
    bottom: 97px;
    z-index: 19;
    right: 84px;
    bottom: -27px;
    right: 24px;
    opacity: 0;
    animation: scaleIn2 1s 3s forwards;
    animation-timing-function: cubic-bezier(0.26, 0.47, 0.27, 1.1);
}
.home-banner img:nth-child(3) {
    top: 56px;
    left: 46px;
    opacity: 0;
    z-index: 19;
    animation: scaleIn3 1s 3s forwards;
    animation-timing-function: cubic-bezier(0.26, 0.47, 0.27, 1.1);
}
.home-banner img:nth-child(4) {
    bottom: 307px;
    left: 18px;
    opacity: 0;
    animation: zoomInLeft 1s 3s forwards;
    animation-timing-function: cubic-bezier(0.26, 0.47, 0, 1.1);
}
.home-banner img:nth-child(5) {
    top: 156px;
    right: 138px;
    opacity: 0;
    animation: zoomInTop 1s 3s forwards;
    animation-timing-function: cubic-bezier(0.26, 0.47, 0, 1.1);
}
.home-banner img:nth-child(6) {
    bottom: 153px;
    left: 6px;
    z-index: 19;
    transform: scale(0.5);
    opacity: 0;
    animation: scaleInBottom .5s 2.2s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.09);
}
.home-banner img:nth-child(7) {
    top: 10px;
    right: 250px;
    opacity: 0;
    transform: scale(0.5);
    z-index: 19;
    animation: scaleInTop .5s 2.2s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.09);
}
.home-banner .home-banner-rectt {
    top: -500px;
    left: 279px;
    animation: fadeInUp .3s 1.5s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.09);
}
.home-banner .home-banner-rectb {
    bottom: -400px;
    right: 233px;
    animation: fadeInDown .3s 1.5s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.09);
} */

.home-banner .home-banner-main {
    position: relative;
    top: -44px;
    margin: 0 auto;
}
.home-banner .home-banner-main ul {
    display: flex;
    padding: 52px 0 56px 88px;
}
.home-banner .home-banner-main ul li {
    display: flex;
    position: relative;
    margin-right: 59px;
}
.home-banner .home-banner-main ul li img {
    position: relative;
    top: 11px;
    animation: jump-effect 1.8s ease infinite;
}
.home-banner .home-banner-main ul li:nth-child(1)::after, .home-banner .home-banner-main ul li:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 32px;
    background-color: #ccc;
    top: 8px;
    right: -39.5px;
}
.home-banner .home-banner-main ul li a b {
    font: normal normal normal 16px/51px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #333333;
    margin-left: 7px;
}
.home-banner .home-banner-main ul .more-position {
    display: block;
    text-align: center;
    width: 86px;
    height: 36px;
    background: #FFB70E 0% 0% no-repeat padding-box;
    border-radius: 20px;
    font: normal normal normal 18px/36px JiangChengYuanTi400;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 5px;
    transition: all .3s;
}
.home-banner .home-banner-main ul .more-position:hover {
    background-color: #FFC70E;
}

.home-banner-scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 56px;
    cursor: pointer;
}
.home-banner-scroll .scroll-icon2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scroll-jump 2s infinite;
}


/* hot */
.home-hot {
    position: relative;
    top: -69px;
}
.home-hot .container {
    width: 100%;
}
.home-hot h1 {
    text-align: center;
    font: normal normal normal 40px/53px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000000;
}




.home-vision {
    margin-top: 154px;
    background: url(../images/home/vision-bg.png) no-repeat center 365px;
}
.home-vision .container {
    background: url(../images/home/vision-main.png) no-repeat center 1px;
    padding-bottom: 211px;
}
.home-vision-head {
    padding-top: 14px;
}
.home-vision-title {
    font: normal normal normal 52px/69px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    line-height: 69px;
}
.home-vision-subtitle {
    font: normal normal normal 28px/37px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
    line-height: 37px;
    margin-bottom: 10px;
}
.home-vision-subtitle em {
    font-style: normal;
}
.home-vision-subtitle span {
    font: normal normal bold 20px/23px JiangChengYuanTiBold;
    letter-spacing: 0px;
    color: #999999;
}
.home-vision-main {
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 19% auto 0;
}
.home-vision-item {
    color: #fff;
    position: relative;
    width: 50%;
}
.home-vision-item:nth-child(1)::after {
    position: absolute;
    content: "";
    background-color: #fff;
    opacity: 0.6;
    width: 1px;
    height: 100%;
    top: 0;
    right: -4px;
}
.home-vision-item:nth-child(2) {
    text-align: right;
}
.home-vision-item-title {
    font: normal normal normal 44px/58px JiangChengYuanTi500;
    letter-spacing: 0.88px;
    color: #FFFFFF;
}
.home-vision-item-title span {
    font: normal normal bold 26px/31px JiangChengYuanTiBold;
    letter-spacing: 0;
    margin-left: 16px;
    color: #FFFFFF;
}
.home-vision-item-content {
    font: normal normal normal 28px/37px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 47px;
}
.home-vision-item-content span {
    opacity: .6;
    font: normal normal bold 22px/26px JiangChengYuanTiBold;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.home-business {
    margin-top: 151px;
}
.home-business .container {
    text-align: center;
}
.home-business-title {
    font: normal normal normal 52px/69px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000000;
    text-indent: -77px;
}
.home-business-title::after {
    content: "";
    position: absolute;
    background-image: url(../images/home/business-title.png);
    width: 108px;
    height: 40px;
    top: 13px;
    right: 32%;
}
.home-business-items {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}
.home-business-items .home-business-item {
    width: 32%;
    padding: 78px 20px 83px;
    transition: all 0.3s;
}
.home-business-items .home-business-item dd {
    margin-top: 60px;
}
.home-business-items .home-business-item dd h3 {
    font: normal normal normal 26px/34px JiangChengYuanTi400;
    letter-spacing: 0px;
    color: #000000;
}
.home-business-items .home-business-item dd p {
    font: normal normal normal 16px/30px JiangChengYuanTi500;
    letter-spacing: -0.24px;
    color: #9A9A9A;
    margin-top: 22px;
}
.home-business-items .home-business-item:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 30px #00000014;
    border-radius: 10px;
}

.home-team {
    padding: 134px 19px 92px;
}
.home-team .container  {
    width: 100%;
}
.home-team>h1 {
    text-align: center;
    font: normal normal normal 52px/69px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000000;
}
.home-team .home-team-main {
    margin: 78px auto 0;
    overflow: hidden;
}
.home-team .home-team-main ul {
    display: flex;
    position: relative;
}
.home-team .home-team-main ul>div {
    display: flex;
}
.home-team .home-team-main ul li {
    margin-right: 22px;
}
.home-team .home-team-main ul li .photo_txt {
    width: 380px;
    height: 230px;
    padding: 49px 55px 0 47px;
    box-sizing: border-box;

    color: #fff;
}
.col_y {
    background-color: #ffaf0e;
}
.col_b {
    background-color: #1173f3;
}
.home-team .home-team-main ul li .photo_txt h1 {
    position: relative;
    font: normal normal normal 34px JiangChengYuanTi500;
}
.home-team .home-team-main ul li .photo_txt h1::after {
    position: absolute;
    left: 0;
    top: 58px;
    width: 48px;
    height: 6px;
    background-color: #fff;
    content: "";
}
.home-team .home-team-main ul li .photo_txt p {
    margin-top: 48px;
    font: normal normal normal 20px JiangChengYuanTi400;
}
.home-team .home-team-main ul li img {
    display: inline-block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
.home-team .home-team-main ul .double-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-team .home-team-main a {
    display: block;
    margin: 64px auto 0;
    text-align: center;
    width: 300px;
    height: 54px;
    border-radius: 8px;
    border: 1px solid;
    font: normal normal normal 18px/54px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000;
    transition: all .3s;
}
.home-team .home-team-main a:hover {
    background: transparent linear-gradient(90deg, #EFAF23 0%, #FFC013 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}



.home-contact {
    margin-top: 91px;
    padding-bottom: 73px;
    position: relative;
}
.home-contact::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 48vh;
    background: #f9f9f9;
    top: 384px;
    z-index: -1;
}
.home-contact .home-contact-title {
    text-align: center;
    font: normal normal normal 52px/69px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000000;
}
.home-contact-content {
    margin-top: 60px;
}
.home-contact-map {
    height: 480px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 40px #0000001A;
    border-radius: 30px;
    padding: 9px 8px 8px 9px;
}
.home-contact-apply .home-btn-apply {
    display: block;
    margin: 73px auto 0;
    background: linear-gradient(90deg, #EFAF23 0%, #FFC013 100%);
    border-radius: 6px;
    width: 380px;
    height: 64px;
    font: normal normal normal 20px/64px JiangChengYuanTi500;
    color: #fff;
    letter-spacing: 0px;
    text-align: center;
}
.home-contact-apply .home-btn-apply:hover {
    background: #FFC013;
}
.active-animation {
    animation: effect-float 3s infinite linear !important;
    opacity: 1 !important;
}
@media (max-width: 768px) {
    .home-banner img {
        width: 100%;
    }
    .home-banner {
        height: auto;
        margin: 70px 2vw 0;
    }
    .home-business-items {
        flex-direction: column;
    }
    .home-vision-title {
        font-size: 36px;
        line-height: 47px;
    }
    .home-vision-subtitle {
        margin-top: 12px;
        font: normal normal normal 20px/28px JiangChengYuanTi500;
    }
    .home-vision-subtitle em {
        display: inline-block;
    }
    .home-vision-subtitle span {
        font: normal normal bold 14px JiangChengYuanTiBold;
    }
    .home-vision-main {
        margin: 34px auto 0;
        width: 100%;
        flex-direction: column;
        background: url(../images/home/vision-main-mob.png) no-repeat center 1px;
        background-size: cover;
        padding: 50px 0 46px;
    }
    .home-vision-item-content {
        margin-top: 13px;
        font-size: 20px;
    }
    .home-vision-item:nth-child(2) {
        text-align: left;
        margin-top: 65px;
    }
    .home-vision-item-title {
        font-size: 32px;
        line-height: 36px;
    }
    .home-vision-item-title span {
        font-size: 28px;
    }
    .home-vision-item-content span {
        font-size: 16px;
    }
    .home-vision-item {
        padding-left: 11%;
        width: auto;
    }
    .home-business {
        margin: 50px 2vw 0;
    }
    .home-business-title {
        font-size: 36px;
        text-indent: -40px;
    }
    .home-business-items .home-business-item {
        width: 100%;
        padding: 20px 0;
        margin: 10px 0;
    }
    .home-contact-apply .home-btn-apply {
        width: 200px;
        font-size: 18px;
        height: 52px;
        line-height: 52px;
        margin-top: 6vh;
    }
    .home-contact .home-contact-title {
        font-size: 40px;
    }
    .home-contact-content {
        margin-top: 6vh;
    }
    .home-contact-map {
        height: 51vh;
        width: 90%;
        margin: 0 auto;
    }
    .home-business-items .home-business-item dd p {
        font-size: 14px;
    }
    .home-business-title::after {
        right: auto;
        background-size: 70%;
        background-repeat: no-repeat;
        top: 20px;
    }
    .home-vision-head {
        padding: 0;
    }
    .home-vision .container {
        background: none;
        padding: 0;
    }
    .home-vision-item:nth-child(1) .home-vision-item-content {
        margin-top: 31px;
    }
    .home-vision-item:nth-child(1)::after {
        width: 92%;
        height: 1px;
        top: 166px;
        right: 14px;
    }
    .home-vision {
        margin: 45px 2vw 0;
    }
}