
.box {
    background: #FBFBFB 0% 0% no-repeat padding-box;
}
.int-banner {
    /* min-height: 400px; */
    height: 42.3vh;
    background: url(../images/int-banner-bg.png) no-repeat center center;
    margin-top: 70px;
    overflow: hidden;
}
.int-banner .int-banner-title {
    text-align: center;
    font: normal normal normal 50px/66px JiangChengYuanTi500;
    letter-spacing: 10px;
    color: #000000;
    margin-top: 18.45vh;
}
.int-detail {
    text-align: center;
}
.int-detail .container {
    width: 1400px;
    background: url(../images/describe-bg.png) no-repeat center 195px;
    overflow: hidden;
    padding: 147px 0 113px;
}
.int-detail .int-detail-title {
    font: normal normal normal 44px/58px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000000;
}
.int-detail .int-detail-describe {
    margin-top: 27px;
    margin-bottom: 105px;
    font: normal normal normal 18px/34px JiangChengYuanTi400;
    letter-spacing: 0px;
    color: #000000;
    padding: 0 22vw;
}

.int-detail .int-detail-milestone {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.int-detail .int-detail-milestone::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: #CCCCCC;
    bottom: 191px;
}
.int-detail .int-detail-milestone dl {
    flex: 1;
}
.int-detail .int-detail-milestone dl dt {
    margin-bottom: 21.5px;
}
.int-detail .int-detail-milestone dl dd {
    font: normal normal normal 16px/28px JiangChengYuanTi500;
    letter-spacing: 0px;
    color: #000;
}
.int-detail .int-detail-subdescribe {
    margin-top: 119px;
    font: normal normal normal 18px/34px JiangChengYuanTi400;
    letter-spacing: 0px;
    color: #000000;
    padding: 0 14vw;
}

.sub-banner {
    padding-bottom: 129px;
    /* background-color: #FBFBFB; */
}
.sub-banner .container {
    max-width: 1400px;
    min-height: 280px;
    background: url(../images/sub-banner-bg.png) no-repeat center center;
}


@media (max-width:768px) {
    .int-detail .container {
        background-position: center 47px;
        padding: 70px 0 0;
        background: url(../images/describe-bg-mob.svg) no-repeat center 428px;
        background-size: 100%;
    }
    .int-detail .int-detail-title {
        font-size: 36px;
        line-height: 47px;
    }
    .int-detail .int-detail-milestone {
        flex-direction: column;
    }
    .int-detail .int-detail-milestone dl dd {
        padding: 0 30px;
        text-align: center;
        font: normal normal normal 18px/28px JiangChengYuanTi500;
        letter-spacing: 0px;
        color: #333333;
        margin-top: -47px;
    }
    .int-detail .int-detail-subdescribe {
        font-size: 16px;
        margin-top: 50px;
    }
    .sub-banner {
        padding: 0;
    }
    .sub-banner .container {
        background-size: 100%;
    }
    .int-detail .int-detail-milestone::after {
        position: relative;
        width: 0;
    }
    .int-detail .int-detail-describe {
        padding: 0 40px;
        margin-bottom: 5px;
        line-height: 28px;
    }
    .int-detail .int-detail-milestone dl dt {
        margin: 0;
        position: relative;
    }
    .int-detail .int-detail-milestone img {
        transform: scale(0.5);
    }
    .int-detail .int-detail-milestone dl dt::after {
        position: absolute;
        font: normal normal normal 22px/38px JiangChengYuanTi500;
        letter-spacing: 0px;
        top: 102px;
        right: 50%;
        transform: translateX(50%);
        color: #FFFFFF;
        
    }
    .int-detail .int-detail-milestone dl:nth-child(1) dt::after {
        content: '2005';
    }
    .int-detail .int-detail-milestone dl:nth-child(2) dt::after{
        content: '2006';
    }
    .int-detail .int-detail-milestone dl:nth-child(3) dt::after{
        content: '2011';
    }
    .int-detail .int-detail-milestone dl:nth-child(4) dt::after{
        content: '2012';
    }
}